{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <link rel="stylesheet" href = "{% static 'css/bootstrap.min.css' %}" type="text/css"/>
      <link rel="stylesheet" href = "{% static 'css/style.css' %}" type="text/css"/>
      <meta charset="UTF-8">
      <title>Teh is the new the</title>
  </head>
  <body ng-app="folio">
    <header>
        <div class="nav">
            <ul>
                <li><a>Homepage</a></li>
                <li><a href="#">Snippets</a></li>
                <li><a>PyScrapper</a></li>
                <li><a>Glimpse</a></li>
            </ul>
        </div>
    </header>
    {% verbatim %}
    <div class="container-fluid">
        <div ng-controller="snippetController">
            <div class="panel" ng-repeat="snippet in snippets">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">{{ snippet.title }}</h3>
                </div>
                <p class="well">{{ snippet.body }}</p>
            </div>
        </div>
    </div>
    {% endverbatim %}
  <script src = "{% static 'js/main.js' %}"></script>
  </body>
    <script>
        $('a').click(function(){
            $('a').removeClass('active');
            $(this).addClass('active');
       })
    </script>
</html>