{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="{% static 'js/bootstrap.min.js' %}" defer></script>
      <link rel="stylesheet" href = "{% static 'css/bootstrap.min.css' %}" type="text/css"/>
      <link rel="stylesheet" href = "{% static 'css/my-style.css' %}" type="text/css"/>
      <meta charset="UTF-8">
      <title>Teh is the new the</title>
  </head>
  <body ng-app="folio">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Folio</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                    <li><a>Home</a></li>
                    <li><a>Snippets</a></li>
                    <li><a>News</a></li>
                    <li><a>Glimpse</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
    </header>
    {% verbatim %}
    <div class="container-fluid">
        <div ng-controller="snippetController">
            <div ng-show="!snippets.length">
                <div class="jumbotron">
                    <p class="lead">
                        No snippets
                    </p>
                </div>
            </div>
            <div class="panel" ng-repeat="snippet in snippets">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">{{ snippet.title }}</h3>
                </div>
                <p class="well">{{ snippet.body }}</p>
            </div>
        </div>
    </div>
    {% endverbatim %}
  <script src = "{% static 'js/main.js' %}"></script>
  </body>
    <script>
        $('a').click(function(){
            console.log('this');
            $('a').removeClass('active');
            $(this).addClass('active');
       })
    </script>
</html>