<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Teh is new the</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="{% static 'css/my-style.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js"></script>
</head>
<body ng-app="folio" layout="column">
    <div ng-controller="AuthController as vm">
        <md-toolbar>
              <div class="md-toolbar-tools">
                <span flex></span>
                    <h2>
                        TehFolio
                    </h2>
                    <span flex></span>
                    <md-button ng-href="{% url 'homepage' %}">
                        Homepage
                    </md-button>
                    <md-button aria-label="Learn More">
                        Snippets
                    </md-button>
                    <md-button aria-label="Learn More">
                        News
                    </md-button>
                    <md-button aria-label="Learn More">
                        About us
                    </md-button>
                    <md-button ng-click="toggleRight()"
                        ng-hide="vm.isAuthenticated">
                        Log In
                    </md-button>
                  <span flex></span>
              </div>
        </md-toolbar>
        <div ng-if="false">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    <!--- SIDE NAV MENU ---->
            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
                  <md-toolbar ng-if="!auth" class="md-theme-light">
                    <h1 class="md-toolbar-tools">Log in</h1>
                  </md-toolbar>
                  <md-content layout-padding>
                    <form ng-submit="vm.login()">
                      <md-input-container>
                            <label for="username">Enter your username: </label>
                            <input type="text" id="username"
                                   ng-model="vm.username" placeholder="user">
                        </md-input-container>
                        <md-input-container>
                            <label for="password">Enter your password: </label>
                            <input type="password" id="password"
                                   ng-model="vm.password" placeholder="password">
                        </md-input-container>
                        <md-button type="submit" class="md-raised">
                          Login
                        </md-button>
                    </form>
                  </md-content>
            </md-sidenav>
    </div>
        {% verbatim %}

    <div ng-controller="SnippetController" layout="column">
        <div ng-repeat="snippet in snippets">
            <div layout="row" layout-padding layout-wrap layout-margin ng-cloak layout-align="space-around" >
              <div class="padded" flex="100" flex-gt-sm="50" layout="column" layout-align="center center">
                <span><h3>{{snippet.title}}</h3></span>
                <span>{{snippet.body}}</span>
              </div>
            </div>
        </div>
    </div>

        {% endverbatim %}

    <div layout="row" layout-padding layout-wrap layout-margin ng-cloak layout-align="space-around" >
          <div class="padded" flex="100" flex-gt-sm="50" layout="column" layout-align="center center">
            <span><h3>No credentials provided.</h3></span>
            <span>Please log in.</span>
          </div>
    </div>

</body>
<script src = "{% static 'js/public/controllers/controller.js' %}"></script>
</html>