<span flex></span>
<md-content layout="row" layout-align="center center">
    <md-card>
        <img ng-src="{{'http://localhost:8000/static/img/py.png'}}" class="md-card-image" alt="Sergey">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    Tehtehteh
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                Proin sem nibh, malesuada quis dignissim eu, consequat ac mi. Vivamus sed viverra lorem. Praesent
                condimentum ipsum quis ornare venenatis. Sed bibendum ornare odio ut elementum. Ut ac sollicitudin
                <!--sapien, id vehicula enim. Maecenas ut elementum lacus. In viverra consequat dictum. Ut lorem lectus,-->
                <!--tristique quis faucibus consectetur, porta a justo. Integer aliquet neque sed efficitur pulvinar. Fusce-->
                <!--nec pretium nunc, in pellentesque mauris. Phasellus vitae nibh eu quam scelerisque venenatis vitae quis-->
                <!--orci. Praesent suscipit arcu at lacinia consectetur. Sed ultricies sem at commodo ullamcorper.-->
            </p>
        </md-card-content>
    </md-card>
</md-content>