<md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button href="#/" aria-label="Homepage">
          Homepage
        </md-button>
        <md-button href="#snippets">
          Snippets
        </md-button>
        <md-button href="#contact">
              Contact us
        </md-button>
        <md-button href="#news">
            News!
        </md-button>
        <md-button ng-hide="AuthenticationService.isAuthenticated()" href="#login">
            Login
        </md-button>
        <md-button ng-show="auth" href="#logout" ng-click="AuthenticationService.unAuthenticate">
            Logout?
        </md-button>
      </div>
</md-toolbar>