<md-toolbar>
      <div class="md-toolbar-tools">
      <span flex></span>
        <md-button href="#/" aria-label="Homepage">
          Homepage
        </md-button>
        <md-button href="#snippets">
          Snippets
        </md-button>
        <md-button href="#contact">
              Contact us
        </md-button>
        <md-button href="#news" class="md-raised">
            News!
        </md-button>
        <md-button href="#login">
            Login
        </md-button>
      </div>
</md-toolbar>