<md-content layout="row" layout-align="center center">
    <md-card>
        <md-card-title>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    Please provide your credentials in order to login.
                </div>
            </md-toolbar>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="center center">
                <form>

                </form>
            </div>
        </md-card-content>
    </md-card>
</md-content>