<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href = "{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href = "{% static 'css/style.css' %}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Teh is the new the</title>
</head>
<body>
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-2">
                    <img src="{% static 'img/CS.png' %}" class="responsive my-logo"/>
                </div>
                <div class="right-menu">
                        <ul>
                            <li><a href="{% url 'homepage' %}">Back to homepage</a></li>
                            <li><a href="{% url 'homepage' %}">Back to homepage</a></li>
                            <li><a href="{% url 'homepage' %}">Back to homepage</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>