* {
    font-family: 'Lato', sans-serif;
}

.jumbotron{
    top: 10px;
}
.navbar{
    background-color: #2196F3;
}
.navbar-default .navbar-brand {
    color: #fff!important;
}
.navbar-default .navbar-nav>li>a{
    color: #fff!important;
}
.navbar li a{
    color: #fff;
    font-size: 1.5em;
}
.ng-scope{
    margin-top: 20px;
}
.navbar li:hover{
    background-color: #1e87db;
}
.navbar .active{
    background-color: #1e87db;
    cursor: default;
}